# ───────────────────────── Build Artifacts ─────────────────────────
.gradle
build/
out/

# ───────────────────────── Java Specific ─────────────────────────
*.iml
*.log
*.jar

# ───────────────────────── IDE Specific ─────────────────────────
.vscode/
.idea/
